.root {
  @apply relative;

  &:nth-child(6n + 1) .productBackground {
    @apply bg-violet;
  }

  &:nth-child(6n + 3) .productBackground {
    @apply bg-pink;
  }

  &:nth-child(6n + 5) .productBackground {
    @apply bg-blue;
  }

  &:nth-child(6n + 6) .productBackground {
    @apply bg-cyan;
  }
}

.productBackground {
  @apply absolute inset-0 z-0;
  background-color: #212529;
}

.productTag {
  @apply absolute top-0 left-0 z-20;

  & > * {
    font-size: 2rem;
    letter-spacing: 0.4px;
  }
}

.productTitle {
  @apply font-bold;
  line-height: 2.2em;

  & span {
    @apply py-4 px-6;
    box-decoration-break: clone;
  }
}

.productPrice {
  @apply pb-4 pt-2 px-6 font-semibold text-sm;
  letter-spacing: 0.4px;
}
